@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');

h1, h3, marquee, a{
    font-family: 'Source Sans Pro', sans-serif;
    scale: 1;
    text-align: center;
}

h1:hover, h3:hover {
    transform: scale(1.2);
}

h1 {
    padding-top: 100px;
}

button {
    background-color: white;
    border-color: transparent;
}

button:focus {
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.image {
    width: 80px;
    scale: 1;
    padding: 10px;
    flex:1;
}

.image:hover {
    transform: scale(1.2);
    flex:1;
}

.credits {
    display: flex;
    justify-content: center;
    align-items: end;
    flex: 1;
}

.main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 0 auto;
}

.credit-text {
    background-color: black;
    width: 100vw;
    color: grey;
    text-align: center;
    padding: 20px;
}

.result {
    text-align: center;
    padding: 10px;
}